@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* body {
  @apply bg-gradient-to-br from-gray-50 to-gray-100;
} */

#root {
  @apply flex justify-center items-center;
}
/* 
body {
  background: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
} */

/* Neon border animation */
@layer components {
  .neon-border {
    position: relative;
    z-index: 0;
    border: 2px solid transparent;
    border-radius: 1rem;
  }

  .neon-border::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(
      270deg,
      #a855f7,
      #9333ea,
      #e879f9,
      #c084fc,
      #a855f7
    );
    background-size: 800% 800%;
    border-radius: inherit;
    animation: neonGlow 8s ease infinite;
  }
}

@keyframes neonGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
